---
import "../styles/global.css";
import { User } from "@lucide/astro";
import { Icon } from "astro-icon/components";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body class="bg-black/90 text-white font-space-grotesk">
        <main
            id="main-scroller"
            class="h-screen snap-y snap-mandatory scroll-smooth overflow-y-scroll"
        >
            <section
                id="hero"
                class="h-screen relative overflow-hidden snap-start"
            >
                <div
                    id="hero-img"
                    class="absolute inset-0 bg-[url('/arcane0.jpg')] bg-cover bg-center bg-no-repeat"
                >
                </div>
                <header
                    class="absolute top-0 left-0 flex justify-between w-full px-8 py-4"
                >
                    <p
                        id="logo"
                        class="rounded-sm font-extrabold text-black text-2xl"
                    >
                        ARCANE
                    </p>
                    <nav>
                        <ul
                            class="flex items-center gap-1 px-3 py-2.5 rounded-full bg-black/50 backdrop-blur-2xl border border-white/10
                                text-white/70 text-sm *:font-bold"
                        >
                            <li>
                                <a
                                    class="hover:text-white transition-colors duration-150 px-5 py-2 rounded-full
                                                hover:bg-white/5"
                                    href="/">Home</a
                                >
                            </li>
                            <li>
                                <a
                                    class="hover:text-white transition-colors duration-150 px-5 py-2 rounded-full
                                                hover:bg-white/5"
                                    href="/">About</a
                                >
                            </li>
                            <li>
                                <a
                                    class="hover:text-white transition-colors duration-150 px-5 py-2 rounded-full
                                                hover:bg-white/5"
                                    href="/">Pricing</a
                                >
                            </li>
                            <li>
                                <a
                                    class="hover:text-white transition-colors duration-150 px-5 py-2 rounded-full
                                                hover:bg-white/5"
                                    href="/">Contact</a
                                >
                            </li>
                        </ul>
                    </nav>
                    <button
                        id="right-btn"
                        class="text-white/70 rounded-full p-3 bg-black/50 backdrop-blur-2xl cursor-pointer hover:text-white
                        transition-colors duration-150 border border-white/10 hover:border-white/50"
                    >
                        <User />
                    </button>
                </header>
                <div
                    class="text-8xl top-50 left-5 text-black font-extrabold w-120 absolute"
                >
                    <p class="title">MEET</p>
                    <p class="title">THE</p>
                    <p class="title">LEGENDS</p>

                    <div class="flex flex-col items-center gap-2 w-60 mt-8">
                        <p class="explore text-lg font-bold">Scroll</p>
                        <div class="explore">
                            <Icon
                                name="tabler:arrow-narrow-down"
                                class="animate-bounce w-6 h-6"
                            />
                        </div>
                    </div>
                </div>
                <div
                    id="start-banner"
                    class="overflow-hidden z-30 absolute bg-gray-900 bottom-0 h-screen w-screen flex justify-center items-center"
                >
                    <p id="arcane" class="font-extrabold text-9xl">ARCANE</p>
                </div>
                <aside class="flex flex-col gap-4 absolute left-5 bottom-10">
                    <div class="social-link">
                        <Icon
                            name="tabler:brand-facebook"
                            class="cursor-pointer hover:scale-125 duration-150 border-[0.5px] border-black/30 rounded-full h-7 w-7 p-1.5 grid place-items-center text-black/60"
                        />
                    </div>
                    <div class="social-link">
                        <Icon
                            name="tabler:brand-x"
                            class="cursor-pointer hover:scale-125 duration-150 border-[0.5px] border-black/30 rounded-full h-7 w-7 p-1.5 grid place-items-center text-black/60"
                        />
                    </div>
                    <div class="social-link">
                        <Icon
                            name="tabler:brand-instagram"
                            class="cursor-pointer hover:scale-125 duration-150 border-[0.5px] border-black/30 rounded-full h-7 w-7 p-1.5 grid place-items-center text-black/60"
                        />
                    </div>
                </aside>

                <div
                    id="start-banner"
                    class="overflow-hidden z-20 text-4xl absolute bg-blue-900 bottom-0 h-screen w-screen"
                >
                </div>
                <div
                    id="start-banner"
                    class="overflow-hidden z-10 text-4xl absolute bg-purple-900 bottom-0 h-screen w-screen"
                >
                </div>

                <div
                    id="start-banner"
                    class="overflow-hidden z-9 text-4xl absolute bg-emerald-900 bottom-0 h-screen w-screen"
                >
                </div>
            </section>
            <section
                id="second-section"
                class="snap-start relative h-screen overflow-hidden bg-linear-to-r from-[#46E37D] via-[#2E8B57] to-[#8B3DFF]"
            >
                <div
                    id="minimal-zaun-img"
                    class="absolute inset-0 bg-[url('/minimal-zaun2.png')] bg-cover bg-center"
                >
                </div>
                <div class="border z-10 wtf">
                    <img src="/jinx.png" />
                </div>
            </section>
            <!-- <section -->
            <!--     id="outro-sec" -->
            <!--     class="snap-start h-screen grid place-items-center overflow-hidden bg-[linear-gradient(180deg,#000000,#364549)] bg-size-[200%_200%]" -->
            <!-- > -->
            <!--     <p -->
            <!--         id="outro" -->
            <!--         class="max-w-4xl text-4xl tracking-wider text-center leading-normal" -->
            <!--     > -->
            <!--         Lorem ipsum dolor sit amet consectetur adipisicing elit. -->
            <!--         Porro reiciendis ex explicabo sed inventore commodi? <span -->
            <!--             class="text-cyan-300">Nemo deleniti reiciendis</span -->
            <!--         >, mollitia aliquid reprehenderit officia! Sint, nulla? -->
            <!--     </p> -->
            <!-- </section> -->
            <!-- <section -->
            <!--     id="outro-sec" -->
            <!--     class="snap-start h-screen grid place-items-center overflow-hidden bg-[linear-gradient(180deg,#000000,#364549)] bg-size-[200%_200%]" -->
            <!-- > -->
            <!--     <p -->
            <!--         id="outro" -->
            <!--         class="max-w-4xl text-4xl tracking-wider text-center leading-normal" -->
            <!--     > -->
            <!--         Lorem ipsum dolor sit amet consectetur adipisicing elit. -->
            <!--         Porro reiciendis ex explicabo sed inventore commodi? <span -->
            <!--             class="text-cyan-300">Nemo deleniti reiciendis</span -->
            <!--         >, mollitia aliquid reprehenderit officia! Sint, nulla? -->
            <!--     </p> -->
            <!-- </section> -->
        </main>
    </body>
</html>
<script>
    import { triggerEvent } from "astro/virtual-modules/transitions-events.js";
    import { gsap } from "gsap";
    import { GSDevTools } from "gsap/GSDevTools";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    import { SplitText } from "gsap/SplitText";
    import TextPlugin from "gsap/TextPlugin";
    gsap.registerPlugin(SplitText, GSDevTools, ScrollTrigger, TextPlugin);

    const splitted = SplitText.create("#outro", { type: "words" });
    gsap.from(splitted.words, {
        y: -40,
        stagger: 0.04,
        opacity: 0,
        ease: "back",

        scrollTrigger: {
            trigger: "#outro-sec",
            scroller: "#main-scroller",
            // markers: true,
            start: "top center",
            // end: "bottom 80%",
            toggleActions: "play pause resume reset",
            // scrub: true,
        },
    });

    const splittedArcane = SplitText.create("#arcane", { type: "chars" });
    const tl = gsap.timeline({});

    tl
        // .to("#enemy", { text: "ENEMY", duration: 2, ease: "linear" })
        .from(splittedArcane.chars, {
            scale: 4,
            delay: 0.5,
            stagger: 0.15,
            ease: "power4.out",
            opacity: 0,
        })
        .to("#start-banner", {
            opacity: 0.3,
            duration: 1,
            delay: 1,
            stagger: 0.02,
            y: "100vh",
            // transformOrigin: "bottom center",
            ease: "power1.inOut",
            yoyo: true,
        })
        .to(
            splittedArcane.chars,
            { y: 180, stagger: 0.05, ease: "power1.in" },
            "<",
        )
        .from(
            "#hero-img",
            { scale: 1.5, duration: 1, ease: "power1.inOut" },
            "<",
        )
        .from("#right-btn", { x: 200, duration: 1, ease: "power4.out" }, "<0.5")
        .from("#logo", { x: -200, duration: 1, ease: "power4.out" }, "<")
        .from("nav", { y: -300, duration: 1, ease: "power4.out" }, "<")

        .addLabel("stop")
        .from(
            ".social-link",
            {
                x: -300,
                duration: 1,
                stagger: 0.1,
                rotation: 900,
                ease: "power4.out",
            },
            "<0.3",
        )

        .from(
            ".title",
            {
                opacity: 0,
                y: 80,
                scale: 3,
                filter: "blur(15px)",
                duration: 1,
                stagger: 0.18,
                ease: "power4.out",
            },
            "<0.7",
        )

        .from(".explore", {
            y: 100,
            opacity: 0,
            stagger: 0.1,
            ease: "power1.out",
        });
    tl.seek("stop").play();
    // GSDevTools.create({ animation: tl });

    gsap.from("#minimal-zaun-img", {
        scale: 1.3,
        duration: 1,
        ease: "power1.out",
        scrollTrigger: {
            trigger: "#second-section",
            scroller: "#main-scroller",
            markers: true,
            start: "-80% top",
            toggleActions: "play pause resume reverse",
        },
    });
</script>
